<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Magento\Rma\Block\Returns\Create */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
?>
<?php $_order =  $block->getOrder(); ?>
<?php $_data = $block->getFormData(); ?>
<?php $_items = $block->getItems(); ?>
<?php $totalAvlQty = 0; ?>
<script id="template-registrant" type="text/x-magento-template">
    <div class="actions-toolbar">
        <div class="secondary" id="delete<%- data._index_ %>">
            <button type="button" class="action remove delete">
                <span><?= $block->escapeHtml(__('Remove')) ?></span>
            </button>
        </div>
    </div>
    <fieldset class="fieldset">
        <div class="field item required">
            <label for="items:item<%- data._index_ %>" class="label">
                <span><?= $block->escapeHtml(__('Item')) ?></span>
            </label>
            <div class="control">
                <?php $bundleID     = 0; ?>
                <?php $firstItemId = $i = $productType = $availableQty = $shipmentType = 0; ?>
                <?php $html         = []; ?>
                <select name="items[<%- data._index_ %>][order_item_id]"
                        class="select"
                        id="items:item<%- data._index_ %>"
                        data-args='{"index":<%- data._index_ %>}'>
                    <?php foreach ($_items as $_item): ?>
                        <?php $totalAvlQty += $block->getAvailableQty($_item); ?>
                        <?php if ($i == 0): ?>
                            <?php
                            $firstItemId = $_item->getId();
                            $productType = $_item->getProductType();
                            $shipmentType = $_item->getProduct()->getShipmentType();
                            $availableQty = $block->getAvailableQty($_item);
                            $i = 1;
                            ?>
                        <?php endif; ?>
                        <?php if ($_item->getProductType() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE): ?>
                            <?php $bundleID = $_item->getId(); ?>
                        <?php endif; ?>
                        <?php if (!$_item->getParentItemId() || $_item->getParentItemId() != $bundleID): ?>
                            <?php $optionRel = $block->escapeHtmlAttr($_item->getProductType()) . '_'
                                . $block->escapeHtmlAttr($block->getAvailableQty($_item)) . '_'
                                . $block->escapeHtmlAttr($_item->getProduct()->getShipmentType());
                            ?>
                            <option value="<?= (int) $_item->getId() ?>"
                                    id="item:order_item_id<%- data._index_ %>_<?= (int) $_item->getId() ?>"
                                    rel="<?= /* @noEscape */ $optionRel ?>">
                                <?= $block->escapeHtml($_item->getName()) ?>
                            </option>
                        <?php endif; ?>
                        <?php if ($_item->getParentItemId() != null && $_item->getParentItemId() == $bundleID): ?>
                            <?php if ($_item->getIsOrdered()): ?>
                                <?php
                                $html[$bundleID][] = [
                                    $_item->getId(),
                                    $block->escapeHtml($_item->getName()),
                                    $block->getAvailableQty($_item),
                                    1,
                                ];
                                ?>
                            <?php else: ?>
                                <?php
                                $html[$bundleID][] = [
                                    $_item->getId(),
                                    $block->escapeHtml($_item->getName()),
                                    $block->getAvailableQty($_item),
                                    0,
                                ];
                                ?>
                            <?php endif; ?>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </select>
                <?php if (!empty($html)): ?>
                    <?php foreach ($html as $bundleID => $node): ?>
                        <div class="nested">
                            <div id="radio:item<%- data._index_ %>_<?= (int) $bundleID ?>">
                                <div class="table-wrapper">
                                    <table class="data table table-return-items"
                                           id="return-items-table-<?= (int) $bundleID ?>">
                                        <caption class="table-caption">
                                            <?= $block->escapeHtml(__('Return items')) ?>
                                        </caption>
                                        <thead>
                                        <tr>
                                            <th class="col product" scope="col">
                                                <?= $block->escapeHtml(__('Sub-items')) ?>
                                            </th>
                                            <th class="col remaining qty" scope="col">
                                                <?= $block->escapeHtml(__('Remaining Qty')) ?>
                                            </th>
                                            <th class="col qty" scope="col">
                                                <?= $block->escapeHtml(__('Qty')) ?>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <?php foreach ($node as $item): ?>
                                            <tr>
                                                <td data-th="<?= $block->escapeHtmlAttr(__('Product')) ?>"
                                                    class="col product">
                                                    <?php if ($item[3]): ?>
                                                        <input type="checkbox" disabled>
                                                    <?php else: ?>
                                                        <?php
                                                        $inputId = 'items[<%- data._index_ %>][' . (int) $bundleID
                                                            . '][checkbox][item][' . $block->escapeHtmlAttr($item[0])
                                                            . ']';
                                                        $inputName = 'validate-one-checkbox-' . (int) $bundleID
                                                            . '-<%- data._index_ %>';
                                                        ?>
                                                        <input id="<?= /* @noEscape */ $inputId ?>"
                                                               data-validate="{'validate-one-required-by-name':true}"
                                                               data-args='{
                                                                "item" :<?= $block->escapeHtmlAttr($item[0]) ?>,
                                                                "bundleId" : <?= (int) $bundleID ?>,
                                                                "index" :<%- data._index_ %>
                                                            }'
                                                               type="checkbox"
                                                               value="<?= $block->escapeHtmlAttr($item[0]) ?>"
                                                               class="checkbox change-container-classname"
                                                               name="<?= /* @noEscape */ $inputName ?>" />
                                                    <?php endif; ?>
                                                    <label for="<?= /* @noEscape */ $inputId ?>"
                                                           class="label <?= ($item[3]) ? 'disabled' : ''?>">
                                                        <?= $block->escapeHtmlAttr($item[1]) ?>
                                                    </label>
                                                </td>
                                                <td data-th="<?= $block->escapeHtmlAttr(__('Remaining Qty')) ?>"
                                                    class="col remaining qty">
                                                    <?= $block->escapeHtml($item[2]) ?>
                                                </td>
                                                <td data-th="<?= $block->escapeHtmlAttr(__('Qty')) ?>" class="col qty">
                                                    <?php if (!$item[3]): ?>
                                                        <?php
                                                        $inputId = 'items[<%- data._index_ %>]['
                                                            . (int) $bundleID . '][checkbox][qty]['
                                                            . $block->escapeHtmlAttr($item[0]) . ']';
                                                        $inputName = 'items[<%- data._index_ %>][items]['
                                                            . $block->escapeHtmlAttr($item[0]) . ']';
                                                        ?>
                                                        <input id="<?= /* @noEscape */ $inputId ?>"
                                                               name="<?= /* @noEscape */ $inputName ?>"
                                                               size="7"
                                                               data-validate="{
                                                                'validate-greater-than-zero':true,
                                                                'required-number':true
                                                            }"
                                                               type="number"
                                                               disabled
                                                               class="input-qty input-text">
                                                    <?php endif; ?>
                                                </td>
                                            </tr>
                                        <?php endforeach; ?>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    <?php endforeach; ?>
                <?php endif; ?>
            </div>
        </div>
        <div class="field qty required" id="qty_requested_block_<%- data._index_ %>">
            <label for="items:qty_requested<%- data._index_ %>" class="label">
                <span><?= $block->escapeHtml(__('Quantity To Return')) ?></span>
            </label>
            <div class="control">
                <input type="number"
                       class="input-text"
                       data-validate="{'validate-greater-than-zero':true,'required-number':true}"
                       value=""
                       name="items[<%- data._index_ %>][qty_requested]"
                       id="items:qty_requested<%- data._index_ %>">
                <div class="note" id="remaining_quantity_block_<%- data._index_ %>">
                    <?= $block->escapeHtml(__('Remaining Quantity:')) ?>&nbsp;
                    <span id="remainincreate.phtmlg_quantity_<%- data._index_ %>" class="qty remaining"></span>
                </div>
            </div>

        </div>

        <?php foreach ($block->getAttributes() as $attribute): ?>
            <?php $attributeContent = $block->getAttributeHtml($attribute); ?>
            <?php if ($attributeContent): ?>
                <?= /* @noEscape */ $attributeContent ?>
            <?php endif;?>
        <?php endforeach;?>
    </fieldset>
</script>
<?php $i = 1; $j = 2 ?>

<form id="rma_create_form" method="post" action="<?=
/* @noEscape */
$block->getUrl('beside_rma/returns/submit', ['order_id' => $_order->getId()]) ?>" enctype="multipart/form-data" class="form form-create-return">
    <div class="block-title">
        <strong>
            <?= __('RETURNABLE PRODUCTS'); ?>
        </strong>
    </div>
    <div id="rma_create_form_accordion">

        <div data-role="collapsible" class="rma_accordeon-title">
            <div data-role="trigger">
                <span class="title">1. <?= __('SELECT ITEMS'); ?></span>
                <span class="rma_step"><?= __('Step %1 of %2', $i++, $j); ?></span>
                <span class="rma_step_edit rma_step_edit1"><?= __('Edit'); ?></span>
            </div>
        </div>
        <div data-role="content">
            <p><?= __('Select the items you would like to return'); ?></p>
            <table class="rma_select_items_table" id="selected-product-table">
                <tbody>
                <?php $count = 0; ?>
                <?php foreach ($_items as $_item): ?>
                    <tr data-return-product="false">
                        <td class="image-holder">
                            <img src="<?= $block->escapeUrl($block->getItemImage($_item)); ?>" alt="<?= $block->escapeHtml($_item->getName()) ?>" class="item-product-photo">
                        </td>
                        <td class="product-detail">
                            <a href="#" class="item-product-name"><?= $block->escapeHtml($_item->getName()) ?></a>
                            <?php foreach ($block->getProductOptions($_item) as $option): ?>
                                <dl class="item-options">
                                    <dt><?= $block->escapeHtml($option['label']) ?>:</dt>
                                    <dd><?= $block->escapeHtml($option['value']) ?></dd>
                                </dl>
                            <?php endforeach; ?>
                        </td>
                        <td class="actions-col">
                            <div class="return-ratio">
                                <input name="items[<?= $count ?>][order_item_id]" value="<?= $_item->getId() ?>" type="radio" id="return-id-<?= $_item->getId() ?>">
                                <label for="return-id-<?= $_item->getId() ?>"><?= __('Return'); ?></label>
                            </div>
                            <div class="qty-box">
                                <label for="qty-<?= $_item->getId() ?>"><?= __('QTY'); ?></label>
                                <input name="items[<?= $count ?>][qty_requested]" type="number" id="qty-<?= $_item->getId() ?>" value="<?= intval($_item->getQtyOrdered()); ?>">
                            </div>
                            <div class="reason-box">
                                <select id="reason-field-<?= $_item->getId() ?>"
                                        name="items[<?= $count ?>][reason] ?>"
                                        class="validate-select">
                                    <option value="other" selected="selected"><?= __('Select reason...') ?></option>
                                    <?php foreach ($block->getReturnReasons() as $optionId => $label) : ?>
                                        <option value="<?= $optionId; ?>"><?= $label; ?></option>
                                    <?php endforeach; ?>
                                </select>
                                <input type="text" hidden name="reason-field-<?= $_item->getId() ?>">
                            </div>
                        </td>
                    </tr>
                    <tr class="uncheck-product-return-link-holder">
                        <td colspan="3"><span class="uncheck-product-return-link" data-unselect-item="return-id-<?= $_item->getId() ?>"><?= __('Do you want to keep it? Click here') ?></span></td>
                    </tr>
                    <?php $count++; ?>
                <?php endforeach; ?>

                </tbody>
            </table>
            <div class="actions-holder">
                <div class="actions-frame">
                    <span class="action primary go-to-next-step2 go-to-next-step disabled"><?= __('Proceed') ?></span>
                </div>
            </div>
        </div>
        <div data-role="collapsible" class="rma_accordeon-title">
            <div data-role="trigger">
                <span class="title">2. <?= __('CONFIRMATION'); ?></span>
                <span class="rma_step"><?= __('Step %1 of %2', $i++, $j); ?></span>
            </div>
        </div>
        <div data-role="content" class="rma_accordeon-content">
            <div class="block-title">
                <strong>
                    <?= __('Items will be returned:'); ?>
                </strong>
            </div>
            <table id="returned-table" class="rma_select_items_table">

            </table>
            <div class="info-block">
                <p><?= __('We will send you an email with the prepaid label to return the products and additional info for the pick up. You can check the status of the return accessing to your account.') ?></p>
            </div>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit"
                            class="action submit primary"
                            id="submit.save"
                            title="<?= $block->escapeHtmlAttr(__('Save')) ?>">
                        <span><?= $block->escapeHtml(__('Confirm')) ?></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="actions-toolbar rma_back_link">
    <div class="secondary">
        <a href="<?= $block->escapeUrl($block->getBackUrl()) ?>" class="action back">
            <span><?= $block->escapeHtml(__('RETURN TO ORDER HISTORY')) ?></span>
        </a>
    </div>
</div>
<script>
    require([
        'jquery',
        'accordion'], function ($) {
        $("#rma_create_form_accordion").accordion({
            "openOnFocus": false,
            "openedState": "active",
        });
        $(document).on('click', '.go-to-next-step2', function () {
            $("#rma_create_form_accordion").accordion("activate", [1]);
            var cloneTable = $('#selected-product-table').clone(true);
            $(cloneTable).find('[data-return-product="false"]').remove();
            $(cloneTable).find('tr.uncheck-product-return-link-holder').remove();
            $(cloneTable).find('td.actions-col').remove();
            $('#returned-table').html(cloneTable);
        });
        $(document).on('click', '.go-to-next-step3', function () {
            $("#rma_create_form_accordion").accordion("activate", [2]);
        });
        $(document).on('click', '.rma_step_edit1', function () {
            $("#rma_create_form_accordion").accordion("activate", [0]);
        });
        $(document).on('click', '.rma_step_edit2', function () {
            $("#rma_create_form_accordion").accordion("activate", [1]);
        });

        $('.rma_select_items_table input[type="radio"]').on('change', function () {
            var currentDataAttr = $(this).attr('id');
            $('span[data-unselect-item="' + currentDataAttr + '"]').show();
            $(this).parents('tr').attr('data-return-product', this.checked);
            var btnIsEnable = $('#selected-product-table').find('tr[data-return-product="true"]');
            console.log(btnIsEnable.length);
            if(btnIsEnable.length >= 1){
                $(this).parents('[data-role="content"]').find('.actions-holder .go-to-next-step').removeClass('disabled');
            } else {
                $(this).parents('[data-role="content"]').find('.actions-holder .go-to-next-step').addClass('disabled');
            }
        });

        $('.uncheck-product-return-link').on('click', function () {
            var currentDataAttr = $(this).attr('data-unselect-item');
            $('.rma_select_items_table').find('input#' + currentDataAttr).prop('checked', false).change();
            $(this).hide();
        });
    });
</script>
